<ion-header>
  <ion-toolbar>
    <ion-title>BigJobsLists</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Proximité</ion-label>
      <ion-button href="/jobs-list/1">4</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Jardinage</ion-label>
      <ion-button href="/jobs-list/2">12</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Mes Jobs en cours</ion-label>
      <ion-button href="/jobs-list/3">1</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Mes demandes de jobs</ion-label>
      <ion-button href="/jobs-list/4">1</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
