<ion-header>
  <ion-toolbar>
    <ion-title>job-detail {{id}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card [button]="actionSheetController">
    <img class="mbsc-img-thumbnail mbsc-pull-right" width="90" height="90" src="https://img.mobiscroll.com/demos/card_3.png">
    <ion-card-header>
      <ion-card-subtitle align="left">{{data.jobs[id-1].date}}</ion-card-subtitle>
      <ion-card-subtitle>Karmapoints : {{data.jobs[id-1].karmapoints}}</ion-card-subtitle>
      <ion-card-subtitle>durée : {{data.jobs[id-1].duration}} heures</ion-card-subtitle>
      <ion-card-subtitle>Statut : {{data.statuses[data.jobs[id-1].status_id].name}}</ion-card-subtitle>
      <ion-card-subtitle>Demandeur : {{data.users[data.jobs[id-1].owner].firstname}}</ion-card-subtitle>
      <ion-card-title>{{data.jobs[id-1].title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{data.jobs[id-1].description}}
    </ion-card-content>
    <ion-card ></ion-card>
  </ion-card>



</ion-content>
