<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingText="Mise à jour..."></ion-refresher-content>
  </ion-refresher>
  <!--

  <ion-list>
    <ion-item *ngFor="let job of data.jobs" (click)="showDetailsOf(job.id)">
      {{ job.getName(0) }} de {{ job.size }}cm
    </ion-item>
  </ion-list>
  Last update: {{ data.lastUpdateTime | date: 'dd/MM/yyyy HH:mm:ss' }}, success: {{ data.lastUpdateSuccess }}
  -->
  <div class="ion-padding">
    Page de connection
  </div>

  <ion-button routerLink="/big-jobs-lists">Connecté</ion-button>
  <!-- -->
  <ion-button routerLink="/users-favorit/1">utilisateur favoris</ion-button>
<ion-footer>
  Last update: {{ data.lastUpdateTime | date: 'dd/MM/yyyy HH:mm:ss' }}, success: {{ data.lastUpdateSuccess }}
</ion-footer>

</ion-content>
