<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingText="Mise à jour..."></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let job of data.jobs" (click)="showDetailsOf(job.id)">
      {{ job.getName(0) }} de {{ job.size }}cm
    </ion-item>
  </ion-list>
  Last update: {{ data.lastUpdateTime | date: 'dd/MM/yyyy HH:mm:ss' }}, success: {{ data.lastUpdateSuccess }}
  -->
  <div class="ion-padding">
    Page de connection
  </div>

  <ion-button href="/profile">Profile</ion-button>

  <ion-button href="/big-jobs-lists">Connecté</ion-button>
  <!-- -->
  <ion-icon name="home" (click)="gotoprofile()">Profile</ion-icon>
</ion-content>
